html {
  background-color: #ddd;
  box-sizing: border-box;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: calc( 100% - 8.5em );
  padding-bottom: 8.5em;
}

header, main, section, footer {
  padding: 0.75em 1em 1em 1em;
  width: 80vw;
  min-width: 20vw;
  margin: 0 auto;
}

h1, h2 {
  margin: 0.25em auto;
}

main {
  background-color: #fff;
  border: thin solid #999;
}

#input-field {
  display: block;
  width: 75vw;
  max-width: 75em;
  min-width: 18em;
  height: 1em;
  margin: 0.5em auto;
}

#buttons {
  display: block;
  margin: 0 2.5vw 0 auto;
  text-align: right;
}

#output {
  width: 75vw;
  max-width: 75em;
  min-width: 18em;
  height: 1em;
  margin: 0.5em auto;
  padding: 0.25em;
  background-color: #fff;
  border: thin solid #999;
}

footer {
  position: absolute;
  bottom: 0;
  width: calc( 100% - 2em );
  background-color: darkslategray;
  margin: 0 auto;
}

footer ul {
  margin-bottom: 4em;
}

li {
  word-wrap: break-word;
}

#eye-candy-note {
  margin: 1.5em auto auto auto;
  color: #eee;
  width: 80vw;
  max-width: 80em;
}

#eye-candy-note a,
#eye-candy-note a:visited,
#eye-candy-note a:hover,
#eye-candy-note a:active {
  color: #ddd
}

